@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: white;
  height: 200vh;
}

.header {
  width: 100%;
  height: 50vw;
  min-height: 500px;
  background: linear-gradient(-135deg, rgba(19, 86, 230, 0.6), rgba(21, 16, 109, 0.6));

  &__photo {
    position: absolute;
    width: 100%;
    height: 50vw;
    min-height: 500px;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
    }

  }

  .menu {
    line-height: 60px;
    height: 60px;
    width: 95%;
    padding-left: 3%;
    padding-right: 2%;
    position: fixed;
    top: 0;

    .logo {
      font-size: 30px;
      font-family: 'Mulish', sans-serif;
      width: 150px;
      float: left;

      .a {
        display: inline-block;
        background-color: white;
        font-size: 40px;
        color: rgba(19, 86, 230, 0.6);
        font-family: "Shadows Into Light";
        height: 40px;
        line-height: 40px;
        padding: 0 12px;
        border-radius: 15px;
      }
    }
  }

  .menu-desktop {
    z-index: 2;


    ul {
      margin-top: 5px;
      width: calc(100% - 150px - 150px);
      float: left;
      text-align: center;
      padding: 0;

      li.menu-single {
        position: relative;
        list-style-type: none;
        display: inline-block;

        padding-left: 10px;
        padding-right: 10px;

        &:hover::after {
          content: "";
          width: 100%;
          height: 2px;
          background-color: white;
          position: absolute;
          bottom: 10px;
          left: 0;
        }
      }
    }

    .signUp {
      float: left;
      margin-top: 5px;
      border-radius: 30px;
      text-align: center;
      width: 150px;
      line-height: 50px;
      height: 50px;
      background-color: rgba(97, 164, 252, 0.6);
      font-weight: bolder;

      &:hover {
        background-color: white;
        color: rgb(97, 164, 252);
      }
    }

  }

  .b {
    width: 80%;
    margin-left: 10%;
    height: 400px;
    position: relative;
    top: 20%;

    .phone {
      width: 29%;
      display: inline-block;
      opacity: 0.8;

      img {
        width: 100%;
        height: 100%;
      }

    }

    .text {
      margin-left: 50px;
      margin-top: 3%;
      width: 51%;
      position: absolute;
      display: inline-block;
      color: white;

      h1 {
        font-size: 50px;
        padding: 0;
        margin: 0;
      }

      div {
        line-height: 30px;
        margin: 3% 0 3% 0;
      }
    }

    button {
      width: 200px;
      height: 55px;
      border-radius: 30px;
      border: 0;
      letter-spacing: 1px;
      color: rgba(21, 16, 109, 0.6);
      background-color: white;
      font-weight: bolder;
      font-size: 13px;

    }
  }


}


.menu-mobile {
  display: none;
}


@media only screen and (max-width: 800px) {
  .menu-mobile {
    display: block;
  }

  .menu-desktop {
    display: none;
  }

  .active {
    background-color: white;
  }

  .active a {
    color: rgb(90, 119, 200);
  }

  .menu-mobile li:hover {
    background-color: white;
  }

  .menu-mobile li:hover a {
    color: rgb(90, 119, 200);
  }
}

@media only screen and (max-width: 1200px) {
  .phone {
    width: 0;
    height: 0;
  }

  .phone img {
    display: none;
  }
  .text {
    width: 100%;
    margin-left: 0;
  }

  .b {
    width: 100%;

  }


  .b {
    margin-left: 10%;
  }


}


a {
  text-decoration: none;
  color: white;
}


.menu-mobile {
  width: 100%;
  padding: 0;
  position: relative;
  background: linear-gradient(rgba(19, 86, 230, 0.6), rgba(21, 16, 109, 0.6));

  .bars {
    float: right;
    font-size: 20px;
    line-height: 30px;
    height: 30px;
    width: 45px;
    margin-top: calc((60px - 30px) / 2);
    text-align: center;
    border: 1px solid white;

  }

  ul {
    padding: 0;
    top: 44px;
    position: absolute;
    width: 100%;
    left: 0;
    height: 430px;
    text-align: center;
    background: rgba(21, 16, 109, 0.6);

    li {
      position: relative;
      list-style-type: none;
      height: 50px;
      width: 98%;
      left: 1%;
      line-height: 50px;
      font-size: 15px;

    }
  }
}


.display {
  display: none;
}


article {
  color: black;
  position: relative;
  margin-top: 10%;

  .a {
    display: block;
    position: relative;
    left: calc(50% - 25px);
    color: white;
    width: 50px;
    height: 50px;
    line-height: 45px;
    font-size: 40px;
    background: linear-gradient(-140deg, rgba(19, 86, 230, 0.6), rgba(21, 16, 109, 0.6));
  }

  .about {
    position: relative;
    left: calc(50% - 44px);
    width: 88px;
    font-size: 15px;

    &:before {
      position: absolute;
      top: 10px;
      left: -50px;
      content: "";
      height: 1px;
      width: 40px;
      background-color: #c3c3c3;
      border-radius: 40px;
    }

    &:after {
      position: absolute;
      top: 10px;
      right: -50px;
      content: "";
      height: 1px;
      width: 40px;
      background-color: #c3c3c3;
      border-radius: 40px;
    }
  }
}
