@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: white;
  height: 200vh;
  user-select: none;
}

a {
  color: white;
  text-decoration: none;
}

ul li {
  list-style-type: none;
  display: inline-block;
}

.home .menu {
  position: fixed;
  top: 0;
  width: 95%;
  z-index: 5;
  height: 60px;
  line-height: 60px;
  padding-left: 3%;
  padding-right: 2%;
}
@media (max-width: 800px) {
  .home .menu {
    background: linear-gradient(rgba(19, 86, 230, 0.9), rgba(21, 16, 109, 0.9));
  }
}
.home .menu__logo {
  float: left;
  width: 150px;
  font-size: 3rem;
  font-family: "Mulish", sans-serif;
}
.home .menu__logo .logo-icon {
  height: 40px;
  line-height: 35px;
  display: inline-block;
  color: rgba(19, 86, 230, 0.6);
  background-color: white;
  font-family: "Shadows Into Light", serif;
  font-weight: bolder;
  font-size: 40px;
}
.home .menu__logo .logo-icon {
  padding: 0 12px;
  border-radius: 15px;
  margin-top: 10px;
}
.home .menu .menu-desktop {
  z-index: 2;
  display: block;
}
@media (max-width: 800px) {
  .home .menu .menu-desktop {
    display: none;
  }
}
.home .menu .menu-desktop .navigation {
  float: left;
  padding: 0;
  width: calc(100% - 150px - 150px);
  margin-top: 5px;
  text-align: center;
  font-size: 1.5rem;
}
.home .menu .menu-desktop .navigation .navigation__item {
  position: relative;
  padding: 0 10px;
}
.home .menu .menu-desktop .navigation .navigation__item:hover::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: 10px;
  left: 0;
}
.home .menu .menu-desktop .navigation .active::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: 10px;
  left: 0;
}
.home .menu .menu-desktop .signUp {
  width: 150px;
  line-height: 50px;
  height: 50px;
  float: right;
  margin-top: 5px;
  border-radius: 30px;
  border: none;
  outline: none;
  color: white;
  background-color: rgba(97, 164, 252, 0.6);
  font-weight: bolder;
}
.home .menu .menu-desktop .signUp:hover {
  background-color: white;
  color: #61a4fc;
}
.home .menu .menu-mobile {
  width: 100%;
  display: none;
  z-index: 2;
}
@media (max-width: 800px) {
  .home .menu .menu-mobile {
    display: block;
  }
}
.home .menu .menu-mobile .bars {
  float: right;
  font-size: 20px;
  line-height: 30px;
  height: 30px;
  width: 45px;
  margin-top: calc((60px - 30px) / 2);
  text-align: center;
  border: 1px solid white;
}
.home .menu .menu-mobile .bars.on + ul {
  height: 200px;
}
.home .menu .menu-mobile .navigation {
  height: 0;
  background-color: rgba(21, 16, 109, 0.9);
  padding: 0;
  top: 44px;
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  transition: 0.3s linear;
  overflow: hidden;
}
.home .menu .menu-mobile .navigation__item {
  position: relative;
  list-style-type: none;
  height: 50px;
  width: 98%;
  margin: 0 1%;
  line-height: 50px;
  font-size: 15px;
}
.home .menu .menu-mobile .navigation__item:hover, .home .menu .menu-mobile .navigation__item.active {
  background-color: white;
}
.home .menu .menu-mobile .navigation__item:hover a, .home .menu .menu-mobile .navigation__item.active a {
  color: #5a77c8;
}

.home {
  width: 100%;
  height: 50vw;
  min-height: 500px;
  background: linear-gradient(-135deg, rgba(19, 86, 230, 0.6), rgba(21, 16, 109, 0.6));
}
.home .home__bcg {
  position: absolute;
  width: 100%;
  height: 50vw;
  min-height: 500px;
  z-index: -1;
}
.home .home__bcg img {
  width: 100%;
  height: 100%;
}
.home .home__banner {
  position: relative;
  top: 20%;
  width: 80%;
  height: 400px;
  margin-left: 10%;
}
.home .home__banner-phone {
  display: inline-block;
  width: 29%;
  opacity: 0.8;
}
@media (max-width: 1200px) {
  .home .home__banner-phone {
    width: 0;
    height: 0;
  }
}
.home .home__banner-phone img {
  width: 100%;
  height: 100%;
}
@media (max-width: 1200px) {
  .home .home__banner-phone img {
    display: none;
  }
}
.home .home__banner-text {
  position: absolute;
  display: inline-block;
  width: 51%;
  margin-left: 50px;
  margin-top: 3%;
  color: white;
}
@media (max-width: 1200px) {
  .home .home__banner-text {
    width: 100%;
    left: 0;
    margin-left: 0;
  }
}
.home .home__banner-text h1 {
  font-size: 5rem;
  padding: 0;
  margin: 0;
}
@media (max-width: 800px) {
  .home .home__banner-text h1 {
    font-size: 3rem;
  }
}
.home .home__banner-text div {
  font-size: 1.5rem;
  line-height: 30px;
  margin: 3% 0;
}
@media (max-width: 800px) {
  .home .home__banner-text div {
    font-size: 1rem;
  }
}
.home .home__banner-text button {
  width: 200px;
  height: 55px;
  border-radius: 30px;
  border: 0;
  letter-spacing: 1px;
  color: rgba(21, 16, 109, 0.9);
  background-color: white;
  font-weight: bolder;
  font-size: 13px;
  cursor: pointer;
}
.home .home__banner-text button:hover {
  color: white;
  background-image: linear-gradient(-135deg, #4781e6, #1b14a6);
}

.about {
  margin-bottom: 80px;
}
.about__fraction {
  height: 60vh;
  color: black;
  margin-top: 10%;
}
.about__fraction .logo-icon {
  height: 50px;
  line-height: 45px;
  display: block;
  color: white;
  background-color: blue;
  font-family: "Shadows Into Light", serif;
  font-weight: bolder;
  font-size: 40px;
}
.about__fraction .logo-icon {
  position: relative;
  left: calc(50% - 25px);
  width: 14px;
  padding: 0 18px;
  border-radius: 40%;
  background: linear-gradient(-140deg, rgba(19, 86, 230, 0.6), rgba(21, 16, 109, 0.6));
}
.about__fraction .title {
  display: inline-block;
  position: relative;
  font-size: 1.5rem;
  color: #878787;
  font-weight: bolder;
  letter-spacing: 1px;
}
.about__fraction .title:before {
  content: "";
  position: absolute;
  top: calc(1.5rem / 2);
  height: 1px;
  width: 40px;
  background-color: #c3c3c3;
  border-radius: 50%;
  left: -50px;
}
.about__fraction .title:after {
  content: "";
  position: absolute;
  top: calc(1.5rem / 2);
  height: 1px;
  width: 40px;
  background-color: #c3c3c3;
  border-radius: 50%;
  right: -50px;
}
.about__fraction .title {
  margin-top: 2%;
  left: calc(50% - 44px);
}
.about__fraction .about__MainText {
  text-align: center;
  margin-top: 5%;
  width: 60%;
  margin-left: 20%;
  font-size: 34px;
  color: #4781e6;
  font-weight: bolder;
}
@media (max-width: 1200px) {
  .about__fraction .about__MainText {
    width: 80%;
    margin-left: 10%;
  }
}
.about__fraction .about__MainText div {
  word-spacing: 2px;
  margin-top: 2%;
  color: gray;
  font-size: 15px;
  line-height: 2;
}
.about .ourProgress__fraction {
  background-color: #f2f3ff;
  height: 50vh;
  position: relative;
}
.about .ourProgress__fraction .ourProgress__text {
  float: left;
  width: 40%;
  height: 40vh;
  margin-top: 10vh;
  margin-left: 10%;
  color: black;
}
@media (max-width: 800px) {
  .about .ourProgress__fraction .ourProgress__text {
    width: 80%;
  }
}
.about .ourProgress__fraction .ourProgress__text .title {
  display: inline-block;
  position: relative;
  font-size: 1.5rem;
  color: #878787;
  font-weight: bolder;
  letter-spacing: 1px;
}
.about .ourProgress__fraction .ourProgress__text .title:after {
  content: "";
  position: absolute;
  top: calc(1.5rem / 2);
  height: 1px;
  width: 40px;
  background-color: #c3c3c3;
  border-radius: 50%;
  right: -50px;
}
.about .ourProgress__fraction .ourProgress__text h3 {
  font-size: 30px;
}
.about .ourProgress__fraction .ourProgress__text h3 + div {
  word-spacing: 2px;
  margin-top: 2%;
  color: gray;
  font-size: 16px;
  line-height: 2;
}
.about .ourProgress__fraction .ourProgress__text button {
  outline: none;
  top: 0;
  position: relative;
  margin-top: 5%;
  width: 150px;
  height: 55px;
  border-radius: 30px;
  border: 0;
  letter-spacing: 1px;
  color: white;
  background-image: linear-gradient(-135deg, #4781e6, #1b14a6);
  font-weight: bolder;
  font-size: 13px;
  transition: all 0.5s linear;
}
.about .ourProgress__fraction .ourProgress__text button:hover {
  -webkit-box-shadow: 7px 14px 50px -1px #BABABA;
  box-shadow: 7px 14px 50px -1px #BABABA;
  top: -5px;
}
.about .ourProgress__fraction .ourProgress__phone {
  display: block;
  position: absolute;
  height: 70vh;
  min-height: 500px;
  right: 25%;
  top: -10vh;
  opacity: 0.8;
  z-index: 2;
}
@media (max-width: 1200px) {
  .about .ourProgress__fraction .ourProgress__phone {
    right: 5%;
  }
}
@media (max-width: 800px) {
  .about .ourProgress__fraction .ourProgress__phone {
    display: none;
  }
}
.about .ourProgress__fraction .ourProgress__phone img {
  height: 100%;
}
.about .ourProgress__fraction .desk-photo {
  display: block;
  position: absolute;
  right: 0;
  height: 50vh;
  width: 26%;
}
@media (max-width: 1200px) {
  .about .ourProgress__fraction .desk-photo {
    display: none;
  }
}
.about .ourProgress__fraction .desk-photo img {
  height: 100%;
  width: 100%;
}

.features .features__fraction {
  margin-top: 15%;
  background-color: #6c9cfb;
}
.features .features__fraction .title {
  display: inline-block;
  position: relative;
  font-size: 1.5rem;
  color: #878787;
  font-weight: bolder;
  letter-spacing: 1px;
}
.features .features__fraction .title:before {
  content: "";
  position: absolute;
  top: calc(1.5rem / 2);
  height: 1px;
  width: 40px;
  background-color: #c3c3c3;
  border-radius: 50%;
  left: -50px;
}
.features .features__fraction .title:after {
  content: "";
  position: absolute;
  top: calc(1.5rem / 2);
  height: 1px;
  width: 40px;
  background-color: #c3c3c3;
  border-radius: 50%;
  right: -50px;
}
.features .features__fraction h3 {
  font-size: 30px;
}
.features .features__fraction .title {
  margin-top: 5%;
  left: calc(50% - 37px);
  color: white;
}
.features .features__fraction h3 {
  text-align: center;
}
.features .features__fraction .allFeatures {
  margin-left: 18%;
  margin-right: 18%;
  height: 57vh;
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1.5fr;
  grid-template-rows: 33.3% 33.3% 33.3%;
  grid-auto-flow: column;
  justify-content: center;
}
@media (max-width: 1200px) {
  .features .features__fraction .allFeatures {
    margin-left: 3%;
    margin-right: 3%;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 800px) {
  .features .features__fraction .allFeatures {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 15vh 15vh 15vh 15vh 15vh 15vh;
  }
}
.features .features__fraction .allFeatures-single {
  cursor: pointer;
  width: 80%;
  margin-left: 10%;
  text-align: right;
}
.features .features__fraction .allFeatures-single div {
  text-align: center;
  margin: 2% 5%;
  float: left;
  height: 70px;
  width: 70px;
  background-color: #ffffff;
  border-radius: 50%;
  line-height: 75px;
}
.features .features__fraction .allFeatures-single div i {
  color: #6c9cfb;
  font-size: 20px;
}
.features .features__fraction .allFeatures-single:hover div {
  background: linear-gradient(-100deg, rgba(19, 86, 230, 0.9), rgba(21, 16, 109, 0.9));
}
.features .features__fraction .allFeatures-single:hover div i {
  color: white;
}
.features .features__fraction .allFeatures-single span {
  display: block;
  float: right;
  text-align: left;
  width: calc(100% - 120px);
  height: 100%;
  line-height: 2;
}
@media (max-width: 800px) {
  .features .features__fraction .allFeatures-single span {
    width: calc(100% - 150px);
  }
}
.features .features__fraction .allFeatures-single span strong {
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
}
.features .features__fraction .allFeatures-phone {
  position: relative;
  grid-row-start: 1;
  grid-row-end: -1;
  height: 55vh;
  width: 80%;
  margin-left: 10%;
  top: 100px;
}
@media (max-width: 1400px) {
  .features .features__fraction .allFeatures-phone {
    top: 0;
    height: 90%;
  }
}
@media (max-width: 1200px) {
  .features .features__fraction .allFeatures-phone {
    display: none;
  }
}
.features .features__fraction .allFeatures-phone img {
  width: 100%;
  height: 100%;
}
.features .features__testimonials {
  margin-top: 10%;
}
.features .features__testimonials .title {
  display: inline-block;
  position: relative;
  font-size: 1.5rem;
  color: #878787;
  font-weight: bolder;
  letter-spacing: 1px;
}
.features .features__testimonials .title:before {
  content: "";
  position: absolute;
  top: calc(1.5rem / 2);
  height: 1px;
  width: 40px;
  background-color: #c3c3c3;
  border-radius: 50%;
  left: -50px;
}
.features .features__testimonials .title:after {
  content: "";
  position: absolute;
  top: calc(1.5rem / 2);
  height: 1px;
  width: 40px;
  background-color: #c3c3c3;
  border-radius: 50%;
  right: -50px;
}
.features .features__testimonials h3 {
  font-size: 30px;
}
.features .features__testimonials .title {
  margin-top: 5%;
  left: calc(50% - 55px);
}
.features .features__testimonials h3 {
  color: black;
  text-align: center;
}
.features .features__testimonials .reviews {
  width: 1050px;
  overflow-x: hidden;
  height: 490px;
  padding: 0 10px;
  position: relative;
  left: calc(50% - 525px);
}
@media (max-width: 1200px) {
  .features .features__testimonials .reviews {
    width: 700px;
    left: calc(50% - 350px);
  }
}
@media (max-width: 800px) {
  .features .features__testimonials .reviews {
    width: 350px;
    left: calc(50% - 175px);
  }
}
.features .features__testimonials .reviews .reviews-box {
  min-width: 3000px;
  height: 300px;
}
.features .features__testimonials .reviews .review-single {
  margin: 100px 15px;
  float: left;
  width: 260px;
  height: 250px;
  padding: 30px 30px 10px 30px;
  -webkit-box-shadow: 0 0 15px 0 #9E9E9E;
  box-shadow: 0 0 15px 0 #9E9E9E;
  position: relative;
  color: gray;
}
.features .features__testimonials .reviews .review-single div:first-of-type {
  position: absolute;
  top: -38px;
  width: 66px;
  height: 66px;
  border: 5px white solid;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: 0 0 15px 0 #9E9E9E;
  box-shadow: 0 0 15px 0 #9E9E9E;
}
.features .features__testimonials .reviews .review-single div:first-of-type img {
  width: 100%;
  height: 100%;
}
.features .features__testimonials .reviews .review-single h4 {
  color: #4781e6;
  font-size: 20px;
  font-weight: bolder;
}
.features .features__testimonials .reviews .review-single i {
  font-size: 13px;
}
.features .features__testimonials .reviews .review-single div:last-of-type {
  margin-top: 15px;
  line-height: 2;
}
.features .features__testimonials button {
  position: relative;
  left: calc(50% - 90px);
  margin: 10px;
  display: none;
  width: 70px;
  height: 70px;
  font-size: 30px;
  border-radius: 50%;
  border: 1px solid #b4b4b4;
  background-color: white;
  outline: none;
  color: #1b14a6;
  -webkit-box-shadow: 0 0 10px 0 #e1e1e1;
  box-shadow: 0 0 10px 0 #e1e1e1;
}
@media (max-width: 1200px) {
  .features .features__testimonials button {
    display: inline-block;
  }
}

h3 {
  font-size: 30px;
}

.pricing .pricing__fraction {
  margin-top: 10%;
}
.pricing .pricing__fraction .title {
  display: inline-block;
  position: relative;
  font-size: 1.5rem;
  color: #878787;
  font-weight: bolder;
  letter-spacing: 1px;
}
.pricing .pricing__fraction .title:before {
  content: "";
  position: absolute;
  top: calc(1.5rem / 2);
  height: 1px;
  width: 40px;
  background-color: #c3c3c3;
  border-radius: 50%;
  left: -50px;
}
.pricing .pricing__fraction .title:after {
  content: "";
  position: absolute;
  top: calc(1.5rem / 2);
  height: 1px;
  width: 40px;
  background-color: #c3c3c3;
  border-radius: 50%;
  right: -50px;
}
.pricing .pricing__fraction .title {
  margin-top: 5%;
  left: calc(50% - 55px);
}
.pricing .pricing__fraction h3 {
  text-align: center;
  color: black;
}
.pricing .pricing__fraction .pricingPlan {
  display: flex;
  height: 55vh;
  margin: 7% auto;
  width: 60%;
  max-width: 1150px;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .pricing .pricing__fraction .pricingPlan {
    width: 80%;
  }
}
@media (max-width: 800px) {
  .pricing .pricing__fraction .pricingPlan {
    flex-direction: column;
    height: 200vh;
    width: 90%;
  }
}
.pricing .pricing__fraction .pricingPlan_single {
  width: 31%;
  height: 100%;
  -webkit-box-shadow: 0px 0px 28px 4px rgba(112, 105, 114, 0.41);
  box-shadow: 0px 0px 28px 4px rgba(112, 105, 114, 0.41);
}
@media (max-width: 800px) {
  .pricing .pricing__fraction .pricingPlan_single {
    width: 100%;
    height: 32%;
  }
}
.pricing .pricing__fraction .pricingPlan_single:hover {
  -webkit-box-shadow: 0px 0px 20px 5px rgba(90, 129, 191, 0.81);
  box-shadow: 0px 0px 20px 5px rgba(90, 129, 191, 0.81);
}
.pricing .pricing__fraction .pricingPlan_single:hover .single-main {
  background: linear-gradient(45deg, #41265b, #2e32ad, #6f9bef);
}
.pricing .pricing__fraction .pricingPlan_single:hover .single-main i {
  color: white;
}
.pricing .pricing__fraction .pricingPlan_single:hover .single-main h6 {
  color: white;
}
.pricing .pricing__fraction .pricingPlan_single .single-main {
  position: relative;
  background-color: #edecf4;
  width: 100%;
  height: 35%;
  transition: 0.3s linear;
}
.pricing .pricing__fraction .pricingPlan_single .single-main i {
  position: absolute;
  left: 50%;
  top: calc(50% - 30px);
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: rgba(19, 86, 230, 0.9);
  transition: 0.3s linear;
}
.pricing .pricing__fraction .pricingPlan_single .single-main h6 {
  margin: 0;
  padding: 0;
  font-size: 22px;
  position: absolute;
  left: 50%;
  top: calc(50% + 30px);
  transform: translate(-50%, -50%);
  color: rgba(19, 86, 230, 0.9);
  transition: 0.3s linear;
}
.pricing .pricing__fraction .pricingPlan_single .single-info {
  text-align: center;
  color: gray;
  width: 170px;
  margin-top: 40px;
  margin-left: calc((100% - 170px) /2);
  line-height: 2;
}
.pricing .pricing__fraction .pricingPlan_single .single-info .price {
  color: rgba(19, 86, 230, 0.9);
  font-size: 60px;
}
.pricing .pricing__fraction .pricingPlan_single .single-info .price sup {
  font-size: 30px;
}
.pricing .pricing__fraction .pricingPlan_single .single-info .price sub {
  font-size: 18px;
}
.pricing .pricing__fraction .pricingPlan_single .single-info button.purchase {
  margin-top: 20px;
  border-radius: 30px;
  letter-spacing: 1px;
  font-size: 13px;
  width: 180px;
  height: 60px;
  font-weight: bolder;
  color: rgba(19, 86, 230, 0.9);
  border: solid 2px transparent;
  background-image: linear-gradient(-135deg, #4781e6, #1b14a6), linear-gradient(-135deg, #4781e6, #1b14a6);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 1px 1000px 1px #fff inset;
  transition: 0.2s linear;
}
.pricing .pricing__fraction .pricingPlan_single .single-info button.purchase:hover {
  color: white;
  box-shadow: none;
}

.faq .faq__fraction {
  height: 60vh;
  background-color: #edecf4;
}
@media (max-width: 800px) {
  .faq .faq__fraction {
    height: 90vh;
  }
}
.faq .faq__fraction .title {
  display: inline-block;
  position: relative;
  font-size: 1.5rem;
  color: #878787;
  font-weight: bolder;
  letter-spacing: 1px;
}
.faq .faq__fraction .title:before {
  content: "";
  position: absolute;
  top: calc(1.5rem / 2);
  height: 1px;
  width: 40px;
  background-color: #c3c3c3;
  border-radius: 50%;
  left: -50px;
}
.faq .faq__fraction .title:after {
  content: "";
  position: absolute;
  top: calc(1.5rem / 2);
  height: 1px;
  width: 40px;
  background-color: #c3c3c3;
  border-radius: 50%;
  right: -50px;
}
.faq .faq__fraction .title {
  margin-top: 5%;
  left: calc(50% - 15px);
}
.faq .faq__fraction h3 {
  font-size: 30px;
}
.faq .faq__fraction h3 {
  text-align: center;
  color: black;
}
.faq .faq__fraction .questions {
  width: 1100px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .faq .faq__fraction .questions {
    width: 80%;
  }
}
@media (max-width: 800px) {
  .faq .faq__fraction .questions {
    height: 80vh;
    width: 96%;
  }
}
.faq .faq__fraction .questions .questions__part {
  width: 50%;
  float: left;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 800px) {
  .faq .faq__fraction .questions .questions__part {
    width: 100%;
  }
}
.faq .faq__fraction .questions .questions__part .questions-single {
  margin: 5px 0;
  width: 98%;
  color: black;
  overflow: hidden;
  background-color: white;
  position: relative;
}
.faq .faq__fraction .questions .questions__part .questions-single:before {
  content: "";
  width: 4px;
  height: 100%;
  background-color: rgba(19, 86, 230, 0.9);
  position: absolute;
}
@media (max-width: 800px) {
  .faq .faq__fraction .questions .questions__part .questions-single {
    width: 100%;
    overflow: hidden;
  }
}
.faq .faq__fraction .questions .questions__part .questions-single span.open {
  width: 30px;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  left: 10px;
  margin-top: 15px;
  font-size: 20px;
}
.faq .faq__fraction .questions .questions__part .questions-single h5 {
  background-color: white;
  color: black;
  padding: 15px;
  margin: 0 0 0 20px;
  font-size: 20px;
}
.faq .faq__fraction .questions .questions__part .questions-single div {
  margin: 0 20px;
  height: 0;
  transition-duration: 0.2s;
}
.faq .faq__fraction .questions .questions__part .questions-single .open.on ~ div {
  height: 100px;
}
.faq .subscribe__fraction {
  background-color: rgba(19, 86, 230, 0.9);
  height: 35vh;
  position: relative;
}
.faq .subscribe__fraction .subscribe-details {
  position: absolute;
  height: 66%;
  width: 50%;
  left: 25%;
  top: 17%;
  background-color: white;
  text-align: center;
}
@media (max-width: 800px) {
  .faq .subscribe__fraction .subscribe-details {
    width: 500px;
    left: calc(50% - 250px);
  }
}
.faq .subscribe__fraction .subscribe-details h5 {
  color: rgba(19, 86, 230, 0.9);
  font-size: 23px;
  margin-top: 15px;
}
.faq .subscribe__fraction .subscribe-details input {
  width: calc(90% - 60px);
  height: 42px;
  border-radius: 40px;
  padding: 5px 30px;
  border: 1px solid rgba(19, 86, 230, 0.9);
  outline: none;
  color: rgba(19, 86, 230, 0.9);
}
.faq .subscribe__fraction .subscribe-details button {
  outline: none;
  top: 0;
  position: relative;
  margin-top: 5%;
  width: 150px;
  height: 55px;
  border-radius: 30px;
  border: 0;
  letter-spacing: 1px;
  color: white;
  background-image: linear-gradient(-135deg, #4781e6, #1b14a6);
  font-weight: bolder;
  font-size: 13px;
  transition: all 0.5s linear;
}
.faq .subscribe__fraction .subscribe-details button:hover {
  -webkit-box-shadow: 7px 14px 50px -1px #BABABA;
  box-shadow: 7px 14px 50px -1px #BABABA;
  top: -5px;
}

h3 {
  font-size: 30px;
}

.contact .title {
  display: inline-block;
  position: relative;
  font-size: 1.5rem;
  color: #878787;
  font-weight: bolder;
  letter-spacing: 1px;
}
.contact .title:before {
  content: "";
  position: absolute;
  top: calc(1.5rem / 2);
  height: 1px;
  width: 40px;
  background-color: #c3c3c3;
  border-radius: 50%;
  left: -50px;
}
.contact .title:after {
  content: "";
  position: absolute;
  top: calc(1.5rem / 2);
  height: 1px;
  width: 40px;
  background-color: #c3c3c3;
  border-radius: 50%;
  right: -50px;
}
.contact .title {
  margin-top: 10%;
  left: calc(50% - 37px);
}
.contact h3 {
  text-align: center;
  color: black;
}
.contact .contacts {
  display: flex;
  height: 20vh;
  margin: 7% auto;
  max-width: 1150px;
  align-items: center;
  width: 90%;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .contact .contacts {
    height: 55vh;
    flex-direction: column;
  }
}
.contact .contacts-single {
  width: 250px;
  padding: 40px 0;
}
.contact .contacts-single-icon {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(-135deg, rgba(19, 86, 230, 0.6), rgba(21, 16, 109, 0.9));
  border-radius: 50%;
  border: 2px solid #fff;
  position: relative;
  transition: 0.5s linear;
}
.contact .contacts-single-icon::after {
  background: none;
  border: 4px solid transparent;
  content: "";
  display: block;
  position: absolute;
  top: -7px;
  left: -7px;
  right: -7px;
  bottom: -7px;
  border-radius: 50%;
  pointer-events: none;
}
.contact .contacts-single-icon::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
  background: linear-gradient(-135deg, rgba(19, 86, 230, 0.6), rgba(21, 16, 109, 0.9));
}
.contact .contacts-single-icon:hover {
  background: white;
}
.contact .contacts-single-icon:hover i {
  color: rgba(19, 86, 230, 0.9);
}
.contact .contacts-single-icon i {
  font-size: 20px;
  padding-top: 30px;
  transition: 0.5s linear;
}
.contact .contacts div.text {
  margin-top: 40px;
  text-align: center;
  color: gray;
  line-height: 2;
}

/*
 * Mixin printing a linear-gradient
 * as well as a plain color fallback
 * and the `-webkit-` prefixed declaration
 * @access public
 * @param {Keyword | Angle} $direction - Linear gradient direction
 * @param {Arglist} $color-stops - List of color-stops composing the gradient
 *
 * @see https://www.sitepoint.com/building-linear-gradient-mixin-sass/
 */

/*# sourceMappingURL=style.css.map */
