header {
  width: 100%;
  height: 50vw;
  min-height: 500px;
  background: linear-gradient(-135deg, #{$lighter-color}, #{$darker-color});

  .header__photo {
    position: absolute;
    width: 100%;
    height: 50vw;
    min-height: 500px;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .menu {
    position: fixed;
    top: 0;
    width: 95%;
    height: 60px;
    line-height: 60px;
    padding-left: 3%;
    padding-right: 2%;

    .logo {
      float: left;
      width: 150px;
      font-size: 30px;
      font-family: 'Mulish', sans-serif;

      @include logo-icon(inline-block, #{$lighter-color}, white);

      .logo-icon {
        height: 40px;
        line-height: 35px;
        padding: 0 12px;
        border-radius: 15px;
        margin-top: 10px;
      }
    }
  }

  .menu-desktop {
    z-index: 2;
    @media #{$smallWidth} {
      display: none;
    }

    ul {
      padding: 0;
      float: left;
      width: calc(100% - 150px - 150px);
      margin-top: 5px;
      text-align: center;

      li.menu-single {
        position: relative;
        padding: 0 10px;

        &:hover::after {
          content: "";
          width: 100%;
          height: 2px;
          background-color: white;
          position: absolute;
          bottom: 10px;
          left: 0;
        }
      }
    }

    .signUp {
      float: left;
      margin-top: 5px;
      border-radius: 30px;
      text-align: center;
      width: 150px;
      line-height: 50px;
      height: 50px;
      background-color: rgba(97, 164, 252, 0.6);
      font-weight: bolder;

      &:hover {
        background-color: white;
        color: rgb(97, 164, 252);
      }
    }
  }

  .menu-mobile {
    display: none;
    position: relative;
    background: linear-gradient(#{$lighter-color}, #{$darker-color});

    @media #{$smallWidth} {
      display: block;
    }

    .bars {
      float: right;
      font-size: 20px;
      line-height: 30px;
      height: 30px;
      width: 45px;
      margin-top: calc((60px - 30px) / 2);
      text-align: center;
      border: 1px solid white;
    }

    ul {
      z-index: 2;
      padding: 0;
      top: 44px;
      position: absolute;
      width: 100%;
      left: 0;
      height: 430px;
      text-align: center;
      background: #{$darker-color};

      li {
        position: relative;
        list-style-type: none;
        height: 50px;
        width: 98%;
        margin: 0 1%;
        line-height: 50px;
        font-size: 15px;

        &:hover {
          background-color: white;

          a {
            color: rgb(90, 119, 200);
          }
        }
      }
    }

    .mobile {
      .active {
        background-color: white;

        a {
          color: rgb(90, 119, 200);
        }
      }
    }
  }

  .header__banner {
    position: relative;
    top: 20%;
    width: 80%;
    height: 400px;
    margin-left: 10%;
    @media #{$smallWidth} {
      top: 10%;
    }

    &-phone {
      display: inline-block;
      width: 29%;
      opacity: 0.8;
      @media #{$theLargerWidth} {
        width: 0;
        height: 0;
      }

      img {
        width: 100%;
        height: 100%;
        @media #{$theLargerWidth} {
          display: none;
        }
      }
    }

    &-text {
      position: absolute;
      display: inline-block;
      width: 51%;
      margin-left: 50px;
      margin-top: 3%;
      color: white;

      @media #{$theLargerWidth} {
        width: 100%;
        left: 0;
        margin-left: 0;
      }

      h1 {
        font-size: 50px;
        padding: 0;
        margin: 0;
      }

      div {
        line-height: 30px;
        margin: 3% 0 3% 0;
      }
    }

    button {
      width: 200px;
      height: 55px;
      border-radius: 30px;
      border: 0;
      letter-spacing: 1px;
      color: #{$darker-color};
      background-color: white;
      font-weight: bolder;
      font-size: 13px;

      &:hover {
        color: white;
        background-image: linear-gradient(-135deg, rgb(71, 129, 230), rgb(27, 20, 166));
      }
    }
  }
}
