.about {
  &__fraction {
    height: 60vh;
    color: black;
    margin-top: 10%;

    @include logo-icon(50px, block, white, blue);

    .logo-icon {
      position: relative;
      left: calc(50% - 25px);
      width: 14px;
      padding: 0 18px;
      border-radius: 40%;
      background: linear-gradient(-140deg, #{$lighter-colorWithOpacity}, #{$darker-colorWithOpacity});
    }

    @include header(97px, $before: true, $after: true);
    .title {
      margin-top: 2%;
      left: calc(50% - 44px);
    }

    .about__MainText {
      text-align: center;
      margin-top: 5%;
      width: 60%;
      margin-left: 20%;
      font-size: 34px;
      color: #4781e6;
      font-weight: bolder;
      @media #{$theLargerWidth} {
        width: 80%;
        margin-left: 10%;
      }

      div {
        word-spacing: 2px;
        margin-top: 2%;
        color: gray;
        font-size: 15px;
        line-height: 2;
      }
    }
  }

  .ourProgress__fraction {
    background-color: #f2f3ff;
    height: 50vh;
    position: relative;

    .ourProgress__text {
      float: left;
      width: 40%;
      height: 40vh;
      margin-top: 10vh;
      margin-left: 10%;
      color: black;
      @media #{$smallWidth} {
        width: 80%;
      }

      @include header(121px, $before: false, $after: true);

      @include styleH;
      @include styleText;
      @include button;
    }

    .ourProgress__phone {
      display: block;
      position: absolute;
      height: 70vh;
      min-height: 500px;
      right: 25%;
      top: -10vh;
      opacity: 0.8;
      z-index: 2;
      @media #{$theLargerWidth} {
        right: 5%;
      }
      @media #{$smallWidth} {
        display: none;
      }

      img {
        height: 100%;
      }
    }

    .desk-photo {
      display: block;
      position: absolute;
      right: 0;
      height: 50vh;
      width: 26%;
      @media #{$theLargerWidth} {
        display: none;
      }

      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}
