@include styleH;

.contact {
  @include header(true, true);
  .title {
    margin-top: 10%;
    left: calc(50% - 3.7rem);
  }

  h3 {
    text-align: center;
    color: black;
  }

  .contacts {
    display: flex;
    height: 20vh;
    margin: 7% auto;
    max-width: 115rem;
    align-items: center;
    width: 90%;
    justify-content: space-between;

    @media #{$smallWidth} {
      height: 55vh;
      flex-direction: column;
    }

    &-single {
      width: 25rem;
      padding: 4rem 0;

      &-icon {
        width: 8rem;
        height: 8rem;
        margin: 0 auto;
        text-align: center;
        background: linear-gradient(-135deg, #{$lighter-colorWithOpacity}, #{$darker-color});
        border-radius: 50%;
        border: 2px solid #fff;
        position: relative;
        transition: .5s linear;

        &::after {
          background: none;
          border: 4px solid transparent;
          content: "";
          display: block;
          position: absolute;
          top: -7px; left: -7px; right: -7px; bottom: -7px;
          border-radius: 50%;
          pointer-events: none;
        }

        &::before {
          content: '';
          position: absolute;
          top: 0; right: 0; bottom: 0; left: 0;
          z-index: -1;
          margin: -5px;
          border-radius: inherit;
          background:  linear-gradient(-135deg, #{$lighter-colorWithOpacity}, #{$darker-color});
        }

        &:hover {
          background: white;

          i {
            color: #{$lighter-color};
          }
        }

        i {
          font-size: 2rem;
          padding-top: 3rem;
          transition: .5s linear;
        }
      }
    }

    div.text {
      margin-top: 4rem;
      text-align: center;
      color: gray;
      line-height: 2;
      font-size: 1.6rem;
    }
  }
}
