.faq {
  .faq__fraction {
    height: 60vh;
    background-color: #edecf4;
    @media #{$smallWidth} {
      height: 90vh;
    }
    @include header(true, true);

    .title {
      margin-top: 5%;
      left: calc(50% - 1.5rem);
    }
    @include styleH;
    h3 {
      text-align: center;
      color: black;
    }

    .questions {
      width: 110rem;
      margin: 0 auto;

      @media #{$theLargerWidth} {
        width: 80%;
      }

      @media #{$smallWidth} {
        height: 80vh;
        width: 96%;
      }

      .questions__part {
        width: 50%;
        float: left;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media #{$smallWidth} {
          width: 100%;
        }

        .questions-single {
          margin: 0.5rem 0;
          width: 98%;
          color: black;
          overflow: hidden;
          background-color: white;
          position: relative;


          &:before {
            content: "";
            width: 0.4rem;
            height: 100%;
            background-color: #{$lighter-color};
            position: absolute;
          }

          @media #{$smallWidth} {
            width: 100%;
            overflow: hidden;
          }

          span.open {
            width: 3rem;
            cursor: pointer;
            z-index: 2;
            position: absolute;
            left: 10px;
            margin-top: 1.5rem;
            font-size: 2rem;
          }

          h5 {
            background-color: white;
            color: black;
            padding: 1.5rem;
            margin: 0 0 0 2rem;
            font-size: 2rem;
          }

          div {
            margin: 0 2rem;
            height: 0;
            transition-duration: 0.2s;
          }

          .open.on ~ div {
            height: 10rem;
          }
        }
      }
    }
  }

  .subscribe__fraction {
    background-color: #{$lighter-color};
    height: 35vh;
    position: relative;

    .subscribe-details {
      position: absolute;
      height: 66%;
      width: 50%;
      left: 25%;
      top: 17%;
      background-color: white;
      text-align: center;
      @media #{$smallWidth} {
        width: 500px;
        left: calc(50% - 25rem);
      }

      h5 {
        color: #{$lighter-color};
        font-size: 2.3rem;
        margin-top: 1.5rem;
      }

      input {
        width: calc(90% - 6rem);
        height: 4.2rem;
        border-radius: 40px;
        padding: 0.5rem 3rem;
        border: 1px solid #{$lighter-color};
        outline: none;
        color: #{$lighter-color};
      }
      @include button;
    }
  }

}

