@include styleH;

.pricing {
  .pricing__fraction {
    margin-top: 10%;

    @include header(true, true);

    .title {
      margin-top: 5%;
      left: calc(50% - 55px);
    }

    h3 {
      text-align: center;
      color: black;
    }

    .pricingPlan {
      display: flex;
      height: 53vh;
      margin: 7% auto;
      width: 60%;
      max-width: 1150px;
      align-items: center;
      justify-content: space-between;

      @media #{$theLargerWidth} {
        width: 80%;
      }

      @media #{$smallWidth} {
        flex-direction: column;
        height: 200vh;
        width: 90%;
      }

      &_single {
        width: 31%;
        height: 100%;
        font-size: 1.5rem;
        -webkit-box-shadow: 0 0 28px 4px rgba(112, 105, 114, 0.41);
        box-shadow: 0 0 28px 4px rgba(112, 105, 114, 0.41);

        @media #{$smallWidth} {
          width: 100%;
          height: 32%
        }

        &:hover {
          -webkit-box-shadow: 0 0 20px 5px rgba(90,129,191,0.81);
          box-shadow: 0 0 20px 5px rgba(90,129,191,0.81);

          .single-main {
            background: linear-gradient(45deg, #41265b, #2e32ad, #6f9bef);

            i {
              color: white;
            }

            h6 {
              color: white;
            }
          }
        }

        .single-main {
          position: relative;
          background-color: #edecf4;
          width: 100%;
          height: 35%;
          transition: .3s linear;

          i {
            position: absolute;
            left: 50%;
            top: calc(50% - 3rem);
            transform: translate(-50%, -50%);
            font-size: 60px;
            color: #{$lighter-color};
            transition: .3s linear;

          }

          h6 {
            margin: 0;
            padding: 0;
            font-size: 2.2rem;
            position: absolute;
            left: 50%;
            top: calc(50% + 3rem);
            transform: translate(-50%, -50%);
            color: #{$lighter-color};
            transition: .3s linear;
          }
        }

        .single-info {
          text-align: center;
          color: gray;
          width: 17rem;
          margin-top: 4rem;
          margin-left: calc((100% - 17rem) /2);
          line-height: 2;

          .price {
            color: #{$lighter-color};
            font-size: 6rem;

            sup {
              font-size: 3rem;
            }

            sub {
              font-size: 1.8rem;
            }
          }

          button.purchase {
            margin-top: 2rem;
            border-radius: 30px;
            letter-spacing: 1px;
            font-size: 1.3rem;
            width: 18rem;
            height: 6rem;
            font-weight: bolder;
            color:  #{$lighter-color};
            border: solid 2px transparent;
            background-image: linear-gradient(-135deg, rgb(71, 129, 230), rgb(27, 20, 166)), linear-gradient(-135deg, rgb(71, 129, 230), rgb(27, 20, 166));
            background-origin: border-box;
            background-clip: content-box, border-box;
            box-shadow: 1px 1000px 1px #fff inset;
            transition: 0.2s linear;

            &:hover {
              color: white;
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}
