$smallWidth: "(max-width: 800px)";
$theLargerWidth: "(max-width: 1200px)";

$lighter-colorWithOpacity: rgba(19, 86, 230, 0.6);
$darker-colorWithOpacity: rgba(21, 16, 109, 0.6);


$lighter-color: rgba(19, 86, 230, 0.9);
$darker-color: rgba(21, 16, 109, 0.9);
